@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', 'sans-serif';
}

#header {
    font-size: 500%;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  margin-top: 5%;
}
